html
    head
        title Example
        link(rel='stylesheet', href='styles.css')

    body
        nav
            ul
                li
                    a Test
                li
                    a(href='/about') About
        block content