extends layout.pug

block content
    h2 My App!
    p 
        span Name:
        span= name + '!'
    p 
        span Version:
        span= version
    p 
        span Scripts:
        span
            code= scripts.start
        