<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Мегакорпорация</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/style-flex.css">
</head>
<body>

<div id="title">
  <h1>Мегакорпорация</h1>
</div>

<div id="content">

  <div id="main">
    <h2>О компании</h2>
    <p><img class="picture" src="img/pic.jpg" alt="">
    <p>Мегакорпорация является самой мегаамбициозной корпорацией в мире.
    Количество амбиций Мегакорпорации не поддается исчислению. Любые амбиции
    других корпораций даже близко не стоят по масштабу к амбициям
    Мегакорпорации.
    <p>По определению&trade;.
    <p>Клиентами Мегакорпорации являются самые известные поклонники мегаамбициозных
    решений. Главенствующим принципом работы Мегакорпорации является соблюдение
    соответствия наших амбиций ожиданиям наших клиентов.
  </div>

  <div id="sections">
    <h2>Разделы</h2>
    <ul>
      <li><a href="solutions/">Решения</a>
      <li><a href="partners/">Партнеры</a>
      <li><a href="achievments/">Достижения</a>
      <li><a href="ringtones/">Рингтоны!!!</a>
    </ul>

    <form id="search" action="search/" method="get">
      <p>Поиск по сайту
      <p><input type="text"> <button type="submit">Искать</button>
    </form>
  </div>

  <div id="news">
    <h2>Новости</h2>

    <h3>01.01.06</h3>
    <p>Мегакорпорация поздравляет своих клиентов с Новым Годом! Пусть в новом
    году ваши деньги перетекают в наши карманы еще быстрее. И больше!

    <h3>03.01.06</h3>
    <p>Президент Мегакорпорации Недосягаемый А.Б. встретился с коллективом
    лифтеров. <a href="news/2006/01/03/elevators/">Подробней...</a>

    <h3>08.01.06</h3>
    <p>Президент Мегакорпорации Недосягаемый А.Б. обсудил с главой
    IT-департамента Загруженным В.Н. планы редизайна корпоративного
    сайта. <a href="news/2006/01/08/redesign/">Подробней...</a>
  </div>

</div>

<div id="meta">
  <p>Сайт изготовлен в "Мегакорпорации", &copy; 2006
  <p>По вопросам работы сайта обращайтесь по e-mail: <a href="mailto:design@megacorp.kk">design@megacorp.kk</a>
</div>

</body>
</html>
