<div class="card">
  <div class="card-header">
    <h3 class="card-title">Add your note to section</h3>
  </div>

  <div class="card-body">
    <div class="form-group">
      <textarea
        style="min-width:100%;min-height:200px"
        class="form-control"
        #noteText
      ></textarea>
    </div>
    <button
      (click)="add(noteText.value); noteText.value = ''"
      class="btn btn-primary"
    >
      Post note
    </button>
  </div>
</div>

<br />
<div class="card">
  <div class="card-header">Notes:</div>

  <ul class="list-group">
    <li *ngFor="let note of notes" class="list-group-item">
      {{ note.text }}
      <button class="btn btn-secondary float-right" (click)="remove(note._id)">
        remove
      </button>
    </li>
  </ul>
</div>

<!-- <textarea [(ngModel)]="text"></textarea>
<button (click)="add()">Add</button>

<ul>
  <li *ngFor="let note of notes">
    {{ note.text }} <button (click)="remove(note._id)">remove</button>
  </li>
</ul> -->
